<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icoding.mapper.ItemsSpecMapper" >
  <resultMap id="BaseResultMap" type="com.icoding.pojo.ItemsSpec" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="discounts" property="discounts" jdbcType="DECIMAL" />
    <result column="price_discount" property="priceDiscount" jdbcType="INTEGER" />
    <result column="price_normal" property="priceNormal" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="BaseSql">
    id, item_id, name, stock, discounts, price_discount, price_normal, created_time, updated_time
  </sql>
    <select id="queryItemSpecByItemId" resultMap="BaseResultMap">
      SELECT <include refid="BaseSql"/>
      FROM items_spec
      WHERE item_id = #{id}
    </select>
</mapper>
