<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icoding.mapper.OrdersMapper" >
    <resultMap id="BaseResultMap" type="com.icoding.pojo.Orders" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
        <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
        <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
        <result column="total_amount" property="totalAmount" jdbcType="INTEGER" />
        <result column="real_pay_amount" property="realPayAmount" jdbcType="INTEGER" />
        <result column="post_amount" property="postAmount" jdbcType="INTEGER" />
        <result column="pay_method" property="payMethod" jdbcType="INTEGER" />
        <result column="left_msg" property="leftMsg" jdbcType="VARCHAR" />
        <result column="extand" property="extand" jdbcType="VARCHAR" />
        <result column="is_comment" property="isComment" jdbcType="INTEGER" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="UserCenterOrdersResultMap" type="com.icoding.vo.UserCenterOrderVO" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="orderId" property="orderId" jdbcType="VARCHAR" />
        <result column="realPayAmount" property="realPayAmount" jdbcType="INTEGER" />
        <result column="postAmount" property="postAmount" jdbcType="INTEGER" />
        <result column="payMethod" property="payMethod" jdbcType="INTEGER" />
        <result column="isComment" property="isComment" jdbcType="INTEGER" />
        <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="orderStatus" property="orderStatus" jdbcType="TIMESTAMP" />
        <collection property="subOrderItemList"
                    ofType="com.icoding.pojo.OrderItems"
                    select="selectItemsForOrder" column="orderId">
<!--            <id property="id" column="orderItemId"/>-->
            <result property="itemId" column="itemId"/>
            <result property="itemImg" column="itemImg"/>
            <result property="itemName" column="itemName"/>
            <result property="itemSpecId" column="itemSpecId"/>
            <result property="itemSpecName" column="itemSpecName"/>
            <result property="price" column="itemPrice"/>
            <result property="buyCounts" column="buyCounts"/>
        </collection>
    </resultMap>
    <delete id="deleteOrder">
        DELETE FROM orders
        WHERE id = #{orderId} AND user_id = #{userId}
    </delete>
    <!--查询指定用户和指定状态下的订单列表-->
    <select id="getOrdersByStatus" resultMap="UserCenterOrdersResultMap">
        SELECT
	        o1.id as orderId,
	        o3.order_status as orderStatus,
	        o1.user_id as userId,
	        o1.real_pay_amount as realPayAmount,
	        o1.pay_method as payMethod,
	        o1.is_comment as isComment,
	        o1.created_time as createdTime

        FROM orders o1
        LEFT JOIN order_status o3 on o1.id = o3.order_id
        WHERE o1.user_id = #{queryParams.userId}
        <if test="queryParams.orderStatus != '' and queryParams.orderStatus != null">
            and o3.order_status = #{queryParams.orderStatus}
        </if>
        LIMIT #{queryParams.start}, #{queryParams.end}
    </select>

    <select id="selectItemsForOrder" resultType="com.icoding.pojo.OrderItems">
        SELECT
            o2.id as orderItemId,
	        o2.item_id as itemId,
	        o2.item_img as itemImg,
	        o2.item_name as itemName,
	        o2.item_spec_id as itemSpecId,
	        o2.item_spec_name as itemSpecName,
	        o2.price as itemPrice,
	        o2.buy_counts as buyCounts
	    FROM
	        order_items o2
	    WHERE
	        o2.order_id = #{orderId}
    </select>

    <select id="getOrdersCountByStatus" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM orders o1
        LEFT JOIN order_status o3 on o1.id = o3.order_id
        WHERE o1.user_id = #{userId}
        <if test="orderStatus != '' and orderStatus != null">
            and o3.order_status = #{orderStatus}
        </if>
    </select>
</mapper>
