<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icoding.mapper.OrderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.icoding.pojo.OrderStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="deliver_time" property="deliverTime" jdbcType="TIMESTAMP" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <update id="updateOrderStatus">
    UPDATE order_status
    SET
      order_status = #{orderStatus},
      <if test="orderStatus == 20">
        pay_time = #{time}
      </if>
      <if test="orderStatus == 30">
        deliver_time = #{time}
      </if>
      <if test="orderStatus == 40">
        success_time = #{time}
      </if>
    WHERE order_id = #{orderId}
  </update>

  <update id="updateOrdersStatusByOrderId">
    UPDATE order_status
    SET
        order_status = #{orderStatus},
        close_time = NOW()
      WHERE order_id = #{orderId}
  </update>
    <delete id="deleteOrderStatus">
      DELETE FROM order_status
      WHERE order_id = #{orderId}
    </delete>

    <select id="queryOrdersWhoseStatusIsWaitPayAndTimeOut" resultMap="BaseResultMap">
    SELECT
        order_id, order_status, created_time, pay_time, deliver_time, success_time, close_time, comment_time
    FROM
        order_status
    WHERE
        order_status = 10
    AND
	    DATEDIFF(NOW(), created_time) > 1
  </select>
</mapper>
